@import 'reset';
@import 'variables';
@import 'fonts';

@-ms-viewport {
  width: device-width;
}

html {
  font-family: 'Open Sans';
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
  body, #app {
    height: 100%;
  }
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
